
  .container{
    display : grid;
    grid-template-areas:
    "hd hd"
    "mode content"
    "menu content"
    "reply reply";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 60px 40px 1fr auto;
  }
  .header{
  grid-area: hd;
  border-bottom: 2px solid gray;
  }

  .mode{
    grid-area: mode;
    border-bottom: 2px solid gray;

  }

  .content{
    grid-area: content;
    border-left: 2px solid gray;
    padding : 10px;
  }
  .menu{
    grid-area: menu;
    font-size : 25px;

  }

  .reply{
    grid-area: reply;
    border-top : 2px solid gray;

  }

  #banner{
    display : block;
    margin : auto;

  }
  #fr_image{
    display : block;
    margin : auto;
  }

  .mode_button{
    margin-top : 8px;

  }

  .list{
    text-decoration: none;
  }
