<style>

  a :visited{
  color : black;
  }

  a{
    text-decoration: none;

  }
  .hl{
    color : red;
  }

  .banner_frame{

    font-size : 50px;
    padding: 15px;
    border-bottom: 2px solid gray;

  }

  ol{

    font-size: 30px;
    margin : 0px;
    padding-left : 60px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

  }

  #fr_image{
    margin: auto;
    display: block;
    padding-top: 30px;
  }

  #banner{
    display: block;
    width: 400px;
    height: auto;
    margin : auto;
  }
  #grid{
    display : grid;
     grid-template-columns: 160px 1fr;
     grid-template-rows:  auto 50px;
    grid-template-areas:
      "lu ri"
      "ld ri";
    border-bottom: 2px solid gray;
  }
  #menu{


    grid-area: lu;
    border-bottom:  2px solid gray;

  }

  #mode{
     display: flex;
    align-items: center;
    justify-content: center;

    grid-area: ld;
  }

  .text{
    grid-area: ri;
    display: block;
    padding-left :40px;
    padding-right:30px;
    border-left: 2px solid gray;
  }

  #right_side{
    display : block;
    margin : auto;
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  @media (max-width : 800px) {
    #grid {
      display: block;
    }

    ol{
        border-right:none;
        border-bottom: 2px solid gray;
      }
  }



</style>
